
.memo {
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;

    &__content {
        &-loading {
            opacity: 0.3;
        }
    }

    &__loading {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__form {
        padding-left: 1rem;
        padding-right: 1rem;
        & textarea {
            width: 100%;
        }
    }

    &__actions {
        display: flex;
        padding-left: 1rem;
        padding-right: 1rem;

        justify-content: flex-end;
    }
}
