.explore {
    display: flex;
    min-width: 967px;

    &__sidebar {
        width: 250px;
        overflow: scroll;
        max-height: 100vh;
    }

    &__content {
        min-width: 500px;

        & pre {
            padding: 0 !important;
        }
        & .line {
           text-align: right;
        }
        & .code {
            padding-left: 16px;
        }

    }
}

