.full-content {
  min-height: 100vh;
}

.content-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  max-width: 95%;
}

.dropdown-item-center {
  padding-left: 0 !important;
  padding-right: 0 !important;
  display: flex !important;
  justify-content: center !important;
}

.root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    & .main {
        flex: 1;
    }
}
