asgiref==3.3.4
ddlparse==1.10.0
Django==3.2.6
django-cors-headers==3.7.0
djangorestframework==3.12.4
gunicorn==20.1.0
mysqlclient==2.0.3
pyparsing==2.4.7
python-dotenv==0.17.1
pytz==2021.1
sqlparse==0.4.1
